h1{
    color: red;
}
.logos{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
}
.logos img{
    height: 100px;
    width: 120px;
    aspect-ratio: 1/3;
    object-fit: contain;
    mix-blend-mode: color-burn;
    border-radius: 50%;
    box-shadow: 1px 4px 4px  rgb(196, 194, 194);
}